
body {
    font-family: sans-serif;
    margin: 0;
    display: flex;
    justify-content: flex-start;
}

.left-side {
    background: url(photo-1585202900225-6d3ac20a6962.avif);
    background-repeat: no-repeat;
    width: 40em;
    height: 64.45em;
    font-size: url('Norse-Bold.otf');
    display: flex;                           
    justify-content: center;
    
}

.Title-Text {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 3rem;
    margin-top: 225px;
    width: 40em;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;

    
}


